<h1>PATIENT INDEX PAGE</h1>

<h2>List of Patients</h2>
  <section id="patients">
    <% @patients.each do |patient| %>
        <ul>
          <li><%= patient.name %></li>
        </ul>
    <% end %>
  </section>