<h1>HOSPITAL SHOW PAGE</h2></br></br>

Hospital Name: <%= @hospital.name %></br>
Number of Doctors: <%= @hospital.doctors.count %></br></br>

List of Universities:</br>
<% @doctors.each do |doctor| %>
  <%= doctor.university %></br>
<% end %>


